
@import url('https://fonts.googleapis.com/css?family=Numans');

/* html,body{ */
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
/* background-image: url('https://image.shutterstock.com/image-photo/film-movie-background-clapperboard-reels-600w-644371840.jpg'); */
/* background-image: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918__340.jpg'); */
/* background-image: url('https://cdn.pixabay.com/photo/2013/11/28/10/02/photo-camera-219958__340.jpg'); */
/* background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/41/filmstrip-1850277__340.jpg'); */
/* margin-top: 5vh; */
/* background-size: cover; */
/* background-repeat: no-repeat; */
/* height: 100%; */
/* font-family: 'Numans', sans-serif; */
/* } */
.background2{
padding-top: 7vh;
padding-bottom:7vh;
    background-image: url('img/lpr/cinema.jpg');
    /* background-image: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918__340.jpg'); */
    /* background-image: url('https://cdn.pixabay.com/photo/2013/11/28/10/02/photo-camera-219958__340.jpg'); */
    /* background-image: url('https://cdn.pixabay.com/photo/2016/11/22/19/41/filmstrip-1850277__340.jpg'); */
    /* margin-top: 5vh; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}
.container{
height: 100%;
align-content: center;
/* margin-left: 5vh; */
}

.card{
height: 370px;
/* height: 500px; */

margin-top: auto;
margin-bottom: auto;
width: 400px;
/* background-color: rgba(0,0,0,0.5) !important; */
/* background-color: rgba(180, 73, 180, 0.5) !important; */
background-color: rgb(114, 7, 91) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 70px;
background-color: rgb(149,79,200);
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}



/* .login_btn:hover{
color: black;
background-color: white;
} */

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.hovericon:hover{
    transform: scaleY(1.5);

    opacity: 1;
}
